<div class="container pad-top">
  <table class="table paymenttable">
      <tr>
          <td><h3>Detalles del pago {{payment.id}}</h3></td>
          <td></td>
      </tr>
      <tr>
          <td>Fecha</td>
          <td>{{payment.date | date:'dd/MM/yyyy'}}</td>
      </tr>
      <tr>
          <td>Monto</td>
          <td>{{payment.amount}}</td>
      </tr>
      <tr>
          <td>Cuotas</td>
          <td>{{payment.installments}}</td>
      </tr>
  </table>
  <div>
      <a class="btn btn-primary" ui-sref="editPayment({id:payment.id})">Editar</a>
  </div>
</div>
