<div class="container pad-top">
  <h3>Proyectos</h3>
  <table class="table proyectotable">
      <tr>
		    <th>Nombre</th>
		    <th>A&ntilde;o inicio</th>
		    <th>A&ntilde;o fin</th>
		    <th>Acciones</th>
      </tr>
      <tr ng-repeat="proyecto in proyectos">
          <td>{{proyecto.nombre}}</td>
          <td>{{proyecto.anioInicio}}</td>
          <td>{{proyecto.anioFin}}</td>
          <td>
              <a class="btn btn-primary" ui-sref="viewProyecto({id:proyecto.id})">Ver</a>
              <a class="btn btn-danger"  ng-click="deleteProyecto(proyecto)">Eliminar</a>
          </td>
      </tr>
  </table>
  <a ui-sref="newProyecto" class="btn-primary btn-lg nodecoration">Agregar nuevo</a>
</div>
